# Database Config
POSTGRES_USER=placeholder_user
POSTGRES_PASSWORD=placeholder_password
POSTGRES_DB=placeholder_db
POSTGRES_HOST=placeholder_host
POSTGRES_PORT=placeholder_port

# Backend API
API_SECRET_KEY=placeholder_secret_key
API_PORT=placeholder_port

# Frontend
VITE_API_URL=placeholder_api_url

# ML Config
ML_MODEL_PATH=placeholder_path
